:root {
    --white: rgb(255, 255, 255);
    --old-white: rgb(206, 199, 180);
    --dull-white: rgb(204, 203, 201);
    --dull-black: rgb(33, 37, 41);
}

body {
    padding-top: 5%;
	font-family: 'Times New Roman', serif;
	background: var(--dull-white);  
}

a {
    color: var(--dull-black);
}
a:hover {
    color: var(--dull-black);
    text-decoration: none;
}

.navbar-custom{
    background-color: rgba(33, 37, 41, 0.5);
}

.card {
    padding: 3% 0%;
    width: 70%;
    background: rgba(33, 37, 41, 0.05); /*var(--dull-black)*/
    border-radius: 0%;
    border-width: 3px;
    color: var(--dull-black);
}
.link-header {
    color: var(--dull-black);
}
.link-header:hover {
    color: black;
    text-decoration: none;
}